/* Loading */

#loading
{
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
    text-align: center;
    color: #ff9b01;
    font-weight: 900;
    width: 500px;
    opacity: 1;
    transition: opacity 0.5s;
}

#loading.fade
{
    opacity: 0;
}

#loading h3
{
    margin: 0;
    font-size: 25px;
}

.loader 
{
    border: 16px solid #f3f3f3;
    border-top: 16px solid #ff9b01; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
  
@keyframes spin
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#content
{
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

#content.fade 
{
    opacity: 1;
}

/* Main page elements */

.main_title
{
    color: #ff9b01;
    font-weight: 900;
    margin: 0;
}

header, #navbar, #field
{
    width: 1140px;
}

header
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    position: relative;
}

header p
{
    margin: 0;
}

#restartButton
{
    position: absolute; 
    right: 0; 
    top: 20px;
}

#navbar
{
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #242733;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#field
{
    height: 540px;
    background-image: url("images/grass.png");
    background-repeat: repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Pouleto */

#pouleto
{
    width: 100px;
    height: 100px;
    background-image: url("images/pouleto_right.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transition: all 0.2s ease-out;
    z-index: 3;
}

/* Wolf */

#wolf
{
    width: 100px;
    height: 100px;
    background-image: url("images/wolf.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transition: all 0.2s ease-out;
    z-index: 5;
}

/* Tractor */

#tractor
{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    position: absolute;
    transition: all 0.5s linear;
    z-index: 6;
}

/* Seeds */

.seed
{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
}

.normalSeed
{background-image: url("images/seeds/normalSeed.png");}
.goldenSeed
{background-image: url("images/seeds/goldenSeed.png");}
.superSeed
{background-image: url("images/seeds/superSeed.png");}

@keyframes growupdown
{
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

.plusFive, .minusFive, .plusTen
{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 10;
    animation: growupdown 0.3s linear 1;
}

.plusFive
{background-image: url("images/plusFive.png");}

.minusFive
{background-image: url("images/minusFive.png");}

.plusTen
{background-image: url("images/plusTen.png");}

/* Other items */

.bomb
{
    background-image: url("images/bomb.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    position: absolute;
    transition: all 0.2s ease-out;
    z-index: 3;
}

#pouletoLivesDiv, #pouletoLivesDisplay
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.life 
{
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.lifeok
{background-image: url("images/life.svg");}

.lifeempty
{background-image: url("images/life_empty.svg");}

.newLife
{
    background-image: url("images/newLife.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 3;
}

.egg
{
    background-image: url("images/egg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    transition: all 0.2s ease-out;
    z-index: 3;
}

/* Status game blocs */

#intro, #pause, #lost, #won
{
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #242733;
    opacity: 90%;
    position: absolute;
}

#intro
{
    color: white;
    text-align: center;
}

#pause
{
    display: none;
    padding-top: 70px;
    color: white;
    font-weight: 900;
}

#lost
{
    display: none;
    padding-top: 50px;
    color: #ff9b01;
    font-weight: 900;
}

#won
{
    display: none;
    padding-top: 50px;
    color: white;
    font-weight: 900;
}